$text-blue: #002335;
$dark-blue: #045499;
$blue: #219EBC;
$light-blue: #8ECAE6;
$main-orange: #F0530F;
$main-yellow: #FED501;
$text-gray: #888888;
$white: #FFFFFF;
$black: #000000;
$dark-gray: #545454;
$light-gray: #D9D9D9;