@import './mixins/breakpoints.scss';
@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body {
  margin: auto;
  font-family: 'Inter', sans-serif;

  @include large_desktop {
    max-width: 1280px;
  }

  @include small_desktop {
    width: 100%;
  }

  @include tablet {
    width: 100%;
    padding: 0 1.25px;
  }

  @include mobile {
    width: 100%;
    padding: 0 1.25px;
  }
}
