@import '../../styles/colors.scss';

.right-col {
  overflow-y: scroll;
  flex: 1;
  height: 100%;

  &--alt {
    height: auto;
  }

  &__header {
    color: $dark-blue;
    font-size: 2.625rem;
    line-height: 3.375rem;
    font-weight: 800;
  }

  &__paragraph {
    color: $text-gray;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-top: 1.875em;
  }

  &__cta {
    font-size: 1rem;
    font-weight: 700;
    color: $white;
    background-color: $main-pink;
    display: inline-flex;
    align-items: center;
    gap: 1.25em;
    padding: 1em 1.625em;
    margin-top: 3.125em;
  }

  &__icons {
    display: flex;
    gap: 1.875em;
    margin-top: 3.125em;
  }

  &__icon {
    height: 4em;

    &__self {
      height: 100%;
      width: auto;
    }
  }
}