@import '../../styles/mixins/breakpoints.scss';

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6em;
  height: 52em;

  @include small_desktop {
    display: block;
  }

  @include tablet {
    display: block;
  }

  @include mobile {
    display: block;
  }
}