@import '../../styles/colors.scss';
@import '../../styles/mixins/breakpoints.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 55px;

  @include small_desktop {
    padding-inline: 1.25em;
  }

  @include tablet {
    padding-inline: 1.25em;
  }

  @include mobile {
    padding-inline: 1.25em;
  }

  &-list {
    display: flex;
    align-items: center;
    gap: 1.25em;

    &__item {
      &__self {
        color: rgba($dark-blue, 50%);
      }
    }
  }
}