$screen-mobile-max: 479px;

$screen-tablet-min: 480px;
$screen-tablet-max: 719px;

$screen-small-desktop-min: 720px;
$screen-small-desktop-max: 1279px;

$screen-large-desktop-min: 1280px;

@mixin mobile {
  @media (max-width: #{$screen-mobile-max}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$screen-tablet-min}) and (max-width: #{$screen-tablet-max}) {
    @content;
  }
}

@mixin small_desktop {
  @media (min-width: #{$screen-small-desktop-min}) and (max-width: #{$screen-small-desktop-max}) {
    @content;
  }
}

@mixin large_desktop {
  @media (min-width: #{$screen-large-desktop-min}) {
    @content;
  }
}